
body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  color: #333;
  padding: 20px;
}
.container {
  max-width: 800px;
  margin: auto;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
}

#toggleButton {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#toggleButton:hover {
  background-color: #0056b3; /* hoverilla vähän tummemmaksi */
}
#questionContainer {
  margin-top: 20px;
}
#resultsContainer {
  margin-top: 40px;
}
